<!DOCTYPE html>
<html ng-app="mainModule">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
</head>
<body ng-controller="mainCtrl">
    <div class="control-panel">
        <span class="error">{{error}}</span>
        <input class="control-input-style" type="text" ng-model="searchArg" placeholder="Поиск">
        <select class="control-button-style" ng-model="searchVariant">
            <option>name</option>
            <option>groups</option>
        </select>
        <input class="control-input-style" type="text" ng-model="friendName" placeholder="Добавить друга">
        <select class="control-button-style" ng-model="group">
            <option>friends</option>
            <option>family</option>
        </select>
        <button class="control-button-style" ng-click="addFriend(friendName,group)">add</button>
        <button class="control-button-style" ng-click="removeFriend()">remove selected</button>
        <button class="control-button-style" ng-click="removeAllFriend()">remove all</button>
    </div>
    <ul class="friends-list">
        <li ng-click="selected(friend)" ng-class="{selected: friend.selected}" ng-repeat="friend in friends | filter: {searchVariant: searchArg}">
            <span class="strong-name">{{friend.name}}</span>  <span class="strong-group">({{friend.groups}})</span>
        </li>
    </ul>

    <script src="main.js"></script>
</body>
</html>